<h1 class="text-center">Editing Category</h1>

<%= render 'form', category: @category %>

<div class="text-center mt-4">
	<%= button_to 'Back', categories_path, class: 'btn btn-primary', method: :get %>
</div>